<?php
	$identitier = $this->identitier;
	$items = $this->items;
	$interval = $this->interval;
	$indicators = $this->indicators;
	$controls = $this->controls;
?>
<?php if( sizeof( $items ) ) : ?>
<div id="<?php echo $identitier; ?>" class="carousel slide" data-ride="carousel" data-interval="<?php echo $interval; ?>">
	<?php if( $indicators ) : ?>
	<ol class="carousel-indicators">
		<?php for( $i = 0; $i < sizeof( $items ); $i++ ) : ?>
		<li data-target="#<?php echo $identitier; ?>" data-slide-to="<?php echo $i; ?>"<?php if( $i == 0 ) : ?> class="active"<?php endif; ?>></li>
		<?php endfor; ?>
	</ol>
	<?php endif; ?>
	<div class="carousel-inner">
		<?php for( $i = 0; $i < sizeof( $items ); $i++ ) : ?>
		<div class="item<?php if( $i == 0 ) : ?> active<?php endif; ?>">
			<?php if( isset( $items[$i]['link']['href'] ) ) : ?>
			<a href="<?php echo $items[$i]['link']['href']; ?>"<?php if( isset( $items[$i]['link']['target'] ) ) : ?> target="<?php echo $items[$i]['link']['target']; ?>"<?php endif; ?>>
			<?php endif; ?>
				<img src="<?php echo $items[$i]['image']; ?>" title="<?php echo $this->escapeHtmlAttr( $items[$i]['title'] ); ?>" alt="<?php echo $this->escapeHtmlAttr( $items[$i]['title'] ); ?>">
			<?php if( isset( $items[$i]['link']['href'] ) ) : ?>
			</a>
			<?php endif; ?>
			<?php if( !empty( $items[$i]['caption'] ) ) : ?>
			<div class="carousel-caption">
				<?php echo $items[$i]['caption']; ?>
			</div>
			<?php endif; ?>
		</div>
		<?php endfor; ?>
	</div>
	<?php if( $controls ) : ?>
	<a class="left carousel-control" href="#<?php echo $identitier; ?>" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left"></span>
	</a>
	<a class="right carousel-control" href="#<?php echo $identitier; ?>" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right"></span>
	</a>
	<?php endif; ?>
</div>
<?php endif; ?>
